name: PR Checks

on:
  pull_request:
    branches:
    - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Set Node.js 12.0.0
      uses: actions/setup-node@master
      with:
        node-version: 12.0.0

    - name: Install dependencies
      run: npm install

    - name: Run test
      run: npm run test